<div class="container">
	<div class="columns">
		<div class="column">
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="columns">
							<div class="column is-half">
								<h5 style="color: purple" style="margin: auto"><span class="fa fa-shopping-cart" style="margin-top:3.5px" ></span> Shopping Cart</h5>
							</div>
							<div class="column is-half">
								<button type="button" class="button is-primary" style="float:right" ui-sref="productLineNutri">
									<span></span> Continue shopping
								</button>
							</div>
						</div>
					</div>
				</div>
					<div class="columns">
						<div class="column is-one-quarter"><img style="margin-top: 20px;  margin-left: 50px; margin-right: auto;" class="image is-128x128" src="images/VitaminB6.jpg"> </div>
						<div class="column is-one-third" style="margin-top: middle; margin-left: -50px">
							<h4 style="margin-top: 40px;"><strong>Vitamin B6</strong></h4><h4><small>The vitamin B6 group is especially important to the function of the central nervous system, skin, and blood. Vitamin B6 is involved in the formation of red blood cells.</small></h4>
						</div>
						<div class="columns">
							<div class="column is-half has-text-right" style="float: right; float: middle; margin-top: 77px">
								<h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="column is-one-third" style="float: right; float: middle; margin-top: 75px">
								<input type="text" class="control" value="1">
							</div>
							<div class="column is-half">
								<button type="button" class="button is-danger" style="float: right; float: middle; margin-top: 70px" >
									<span class="fa fa-trash-o"> </span>
								</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="columns">
						<div class="column is-one-quarter"><img style="margin-top: middle;  margin-left: 50px; margin-right: auto;" class="img-responsive image is-128x128" src="images/VitaminE.jpg"> </div>
						<div class="column is-one-third" style="margin-top: middle; margin-left: -50px">
							<h4 style="margin-top: 20px;"><strong>Vitamin E</strong></h4><h4><small>Vitamin E is key for strong immunity,  healthy skin and eyes, and also helps repair damaged cells.</small></h4>
						</div>
						<div class="columns">
							<div class="column is-half has-text-right" style="float: right; float: middle; margin-top: 56px">
								<h6><strong>25.00 <span>x</span></strong></h6>
							</div>
							<div class="column is-one-third" style="float: right; float: middle; margin-top: 55px">
								<input type="text" class="control" value="1">
							</div>
								<div class="column is-half">
									<button type="button" class="button is-danger" style="float: right; float: middle; margin-top: 50px">
										<span  class="fa fa-trash-o"> </span>
									</button>
								</div>
						</div>
					</div>
					<hr>
					<div class="columns has-text-centered">
							<div class="column is-three-quarters"  >
								<button type="button" class="button is-primary" style="float:right">
									Update cart
								</button>
						</div>
					</div>
				<div class="panel-footer">
					<div class="columns has-text-centered">
						<div class="column is-three-quarters">
							<h4 class="column is-three-quarters has-text-right" style="margin-left: 110px">Total <strong>$50.00</strong></h4>
						</div>
						<div class="column is-one-quarter">
							<button type="button" class="button is-primary" style=" margin-left: -415px" ui-sref="checkout" >
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
