<div class="container">
	<div class="columns">
		<div class="column">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="columns">
							<div class="column is-half">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="column is-half">
								<button type="button" class="button button-primary button-sm button-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="columns">
						<div class="column is-one-quarter"><img class="img-responsive" src="http://image.made-in-china.com/3f2j00PykQgfsMgWbU/Medicine-of-Penicillin-Vk-Tablet-250mg-1000-s-Jar.jpg">
						</div>
						<div class="column is-one-third">
							<h4 class="product-name"><strong>Product name</strong></h4><h4><small>Penicillin antibiotics are used to treat many types of infections caused by susceptible bacteria.</small></h4>
						</div>
						<div class="columns">
							<div class="column is-half has-text-right">
								<h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="column is-one-third">
								<input type="text" class="form-control input-sm" value="1">
							</div>
							<div class="column is-one-quarter">
								<button type="button" class="button is-danger">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="columns">
						<div class="column is-one-quarter"><img class="img-responsive" src="http://annpharmacy.com/thmbdrugs/drug-5626-cat.jpg">
						</div>
						<div class="column is-one-third">
							<h4 class="product-name"><strong>Product name</strong></h4><h4><small>Generally used as an analgesic (that relieves pain without producing anesthesia or loss of consciousness) for minor aches and pains.</small></h4>
						</div>
						<div class="columns">
							<div class="column is-half has-text-right">
								<h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="column is-one-third">
								<input type="text" class="form-control input-sm" value="1">
							</div>
							<div class="column is-one-quarter">
								<button type="button" class="button is-danger">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="columns has-text-centered">
							<div class="column is-three-quarters">
								<h6 class="has-text-right">Added items?</h6>
							</div>
							<div class="column is-one-quarter is-right">
								<button type="button" class="button">
									Update cart
								</button>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="columns has-text-centered">
						<div class="column is-three-quarters">
							<h4 class="has-text-right">Total <strong>$50.00</strong></h4>
						</div>
						<div class="column is-one-quarter">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
