<div class="container">
	<div class="columns">
		<div class="column">
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="columns">
							<div class="column is-half">
								<h5 style="color: purple" style="margin: auto"><span class="fa fa-shopping-cart" style="margin-top:3.5px" ></span> Shopping Cart</h5>
							</div>
							<div class="column is-half">
								<button type="button" class="button is-outlined" style="float:right" ui-sref="productLineNutri">
									<span></span> &lt; Continue shopping
								</button>
							</div>
						</div>
					</div>
				</div>
					<div ng-if="master.cartCount == 0" style="padding: 20px">
						<h1 class="title is-3">Your shopping cart is empty! </h1><br>
						<a class="button is-primary" ui-sref="home">Find some items</a>
					</div>
					<div class="columns" style="margin: 0" ng-if="master.cart[1]">
						<div class="column is-narrow"><img style="margin: 20px 50px;" class="image is-128x128" src="images/VitaminB6.jpg"> </div>
						<div class="column is-one-third" style="align-self: center;">
							<h4><strong>Nature Made Vitamin B6 Tablets</strong></h4><h4><small>The vitamin B6 group is especially important to the function of the central nervous system, skin, and blood. Vitamin B6 is involved in the formation of red blood cells.</small></h4>
						</div>
						<div class="column is-3 has-text-right" style="align-self: center;">
							<h6 style="display: inline-block; vertical-align: middle; margin-right: 1.5em;"><strong>$5.15 <span class="text-muted">x</span></strong></h6>
							<input type="number" class="input is-success" value="1" min="1" style="width: 7em; vertical-align: middle;" ng-model="master.cart[1]">
						</div>
						<div class="column is-2" style="align-self: center;">
							<button type="button" class="button is-danger" style="float:right"
								ng-click="master.removeItemFromCart({productId: 1})">
								<span class="fa fa-trash-o"> </span>
							</button>
						</div>
					</div>
					<hr style="margin: 0" ng-if="master.cart[1]">
					<div class="columns" style="margin: 0" ng-if="master.cart[2]">
						<div class="column is-narrow"><img style="margin: 20px 50px;" class="image is-128x128" src="images/VitaminE.jpg"> </div>
						<div class="column is-one-third" style="align-self: center;">
							<h4><strong>Nature Made Vitamin E Tablets</strong></h4><h4><small>Vitamin E is key for strong immunity,  healthy skin and eyes, and also helps repair damaged cells.</small></h4>
						</div>
						<div class="column is-3 has-text-right" style="align-self: center;">
							<h6 style="display: inline-block; vertical-align: middle; margin-right: 1.5em;"><strong>$8.99 <span class="text-muted">x</span></strong></h6>
							<input type="number" class="input is-success" value="1" min="1" style="width: 7em; vertical-align: middle;" ng-model="master.cart[2]">
						</div>
						<div class="column is-2" style="align-self: center;">
							<button type="button" class="button is-danger" style="float:right"
								ng-click="master.removeItemFromCart({productId: 2})">
								<span class="fa fa-trash-o"> </span>
							</button>
						</div>
					</div>
					<hr style="margin-top: 0" ng-if="master.cartCount > 0">
				<div class="panel-footer" ng-if="master.cartCount > 0">
					<div class="columns has-text-centered">
						<div class="column is-three-quarters">
							<h4 class="column is-three-quarters has-text-right" style="margin-left: 110px">Total <strong>{{master.totalPrice | currency}}</strong></h4>
						</div>
						<div class="column is-one-quarter">
							<button type="button" class="button is-primary" style=" margin-left: -415px" ui-sref="checkout" >
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
