<div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<div>
				<span class="title is-primary">Checkout</span>
				<br>
				<br>
			</div>


			<div class="columns">
				<div class="column is-one-quarter">
					<nav class="panel">
					<nav class="panel-heading">
						<label class="title">Shipping details</label>
					</nav>
				</nav>
					<p class="label">Name</label>
						<p class="control">
							<input class="input" type="text" placeholder="Full name" style="width:300px;" >
						</p>
						<label class="label">Address</label>
						<p style="width:300px;">
							<input class="input" type="text" placeholder="Address line 1" style="width:300px;">
							<br>
							<p style="width:300px;">
								<input class="input " type="text" placeholder="Address line 2" style="width:300px;">


								<input class="input " type="text" placeholder="City" style="width:300px;">
								<label class="label" style="margin-top: 10px">State</label>
								<p class="control">
									<span class="select">
										<select>
											<option value="AL">Alabama</option>
											<option value="AK">Alaska</option>
											<option value="AZ">Arizona</option>
											<option value="AR">Arkansas</option>
											<option value="CA">California</option>
											<option value="CO">Colorado</option>
											<option value="CT">Connecticut</option>
											<option value="DE">Delaware</option>
											<option value="DC">District Of Columbia</option>
											<option value="FL">Florida</option>
											<option value="GA">Georgia</option>
											<option value="HI">Hawaii</option>
											<option value="ID">Idaho</option>
											<option value="IL">Illinois</option>
											<option value="IN">Indiana</option>
											<option value="IA">Iowa</option>
											<option value="KS">Kansas</option>
											<option value="KY">Kentucky</option>
											<option value="LA">Louisiana</option>
											<option value="ME">Maine</option>
											<option value="MD">Maryland</option>
											<option value="MA">Massachusetts</option>
											<option value="MI">Michigan</option>
											<option value="MN">Minnesota</option>
											<option value="MS">Mississippi</option>
											<option value="MO">Missouri</option>
											<option value="MT">Montana</option>
											<option value="NE">Nebraska</option>
											<option value="NV">Nevada</option>
											<option value="NH">New Hampshire</option>
											<option value="NJ">New Jersey</option>
											<option value="NM">New Mexico</option>
											<option value="NY">New York</option>
											<option value="NC">North Carolina</option>
											<option value="ND">North Dakota</option>
											<option value="OH">Ohio</option>
											<option value="OK">Oklahoma</option>
											<option value="OR">Oregon</option>
											<option value="PA">Pennsylvania</option>
											<option value="RI">Rhode Island</option>
											<option value="SC">South Carolina</option>
											<option value="SD">South Dakota</option>
											<option value="TN">Tennessee</option>
											<option value="TX">Texas</option>
											<option value="UT">Utah</option>
											<option value="VT">Vermont</option>
											<option value="VA">Virginia</option>
											<option value="WA">Washington</option>
											<option value="WV">West Virginia</option>
											<option value="WI">Wisconsin</option>
											<option value="WY">Wyoming</option>
										</select>
									</span>
								</p>
							</p>
							<label class="label" style="margin-top: 10px">Email</label>
							<p class="control">
								<input class="input" type="text" placeholder="example@domain.com" style="width:300px;">

							</p>

							<label class="label">Phone</label>
							<p class="control">
								<input class="input" type="text" placeholder="(000)-000-0000" style="width:300px">
							</p>

							<p class="control">
								<label class="radio">
									<input type="radio" name="question">
									Standard delivery
								</label>
								<label class="radio">
									<input type="radio" name="question">
									Express delivery
								</label> </p>

						</div>

						<div class="column is-half">
							<nav class="panel">
							<nav class="panel-heading">
								<label class="title is-3">Payment</label>
							</nav>
						</nav>
						<div class="columns">
							<div class="column is-5">
									<label class="label">Pay with PayPal</label>
								 <button class="button is-outlined is-medium fa fa-paypal"> PayPal</button>
							 </div>

							<div class="column is-7">
									<div><label class="label">Card payment</label></div>
										<img src="images/instant-payment.png" alt="Payment options" class="image is-30x100">
								<button class="button is-outlined  is-medium fa fa-credit-card"> Credit card</button>
								<button class="button is-outlined is-medium fa fa-credit-card-alt"> Debit card</button>
							</div>
						</div>

							<label class="label">Card Number</label>

							<input class="input" type="text" placeholder="Card number" style="width:300px;">
							<br><br>
							<div class="columns">
								<div class="column is-half">
									<label class="label">Expiry Date</label>
									<div>
										<p> Month
											<span class="select">
												<select>
													<option value = "1">01</option>
													<option value = "2">02</option>
													<option value = "3">03</option>
													<option value = "4">04</option>
													<option value = "5">05</option>
													<option value = "6">06</option>
													<option value = "7">07</option>
													<option value = "8">08</option>
													<option value = "9">09</option>
													<option value = "10">10</option>
													<option value = "11">11</option>
													<option value = "12">12</option>
												</select>
											</span> Year
											<span class="select">
												<select>
													<option value = "1">2016</option>
													<option value = "2">2017</option>
													<option value = "3">2018</option>
													<option value = "4">2019</option>
													<option value = "5">2020</option>
													<option value = "6">2021</option>
													<option value = "7">2022</option>
													<option value = "8">2023</option>
													<option value = "9">2024</option>
													<option value = "10">2025</option>
													<option value = "11">2026</option>
													<option value = "12">2027</option>
												</select>
											</span> </p>
										</div>
									</div>
									<div class="column is-one-quarter"> 	<label class="label">CVV</label>
										<div>
											<p class="control">
												<input class="input" type="text" placeholder="CVV" style="width:50px" maxlength="3">
											</p>
										</div>
									</div>
								</div>

								<p class="control">
										<label class="checkbox">
											<input type="checkbox">
											Save details of the card for future transactions
										</label>

								<div class="columns">
									<div class="column is-half">
										<label class="label">UPMC e-Coupon</label>
										<input class="input" type="text" placeholder="Coupon number" style="width:300px;">
										<i class="fa"></i>
										<div class="columns">
											<br>
											<div class="column is-three-quarters">
												<span class="help is-success">Enter coupon or promotional code</span>
											</div>
											<div class="column is-one-third">
												<button class="button is-primary is-outlined" style="margin-top:10px"> Apply coupon</button></div>
											</div>
										</div>
										<div class="column is-one-third">
											<img src="images/MyUPMC.png" alt="UPMC Card" class="image is-30x80">

										</div>
									</div>





										</div>

										<div class="column is-one-quarter">

											<nav class="panel">
											<nav class="panel-heading">
												<label class="title">Cart summary</label>
											</nav>
										</nav>



												<div class="columns">
												<div class="column is-one-third">
													<p>Vitamin B6
												</div>
												<div class="column">
													 <span class="help ">(Quantity : 1)</span>
												</div>
												<div class="column">
													<p>$25.00 </p>
												</div>
											</div>
												<div class="columns">
												<div class="column is-one-third">
													<p>Vitamin E
												</div>
												<div class="column">
													 <span class="help ">(Quantity : 1)</span>
												</div>
												<div class="column">
													<p> $25.00 </p>
												</div>
											</div>

											<div class="columns">
											<div class="column is-one-third">
												<p>Shipping charges
											</div>
											<div class="column">
												 <span class="help"></span>
											</div>
											<div class="column">
												<p> $5.00 </p>
											</div>
										</div>

											<div class="columns">
											<div class="column is-one-third">
												<p><b>Total</b>
											</div>
											<div class="column">
												 <span class="help"></span>
											</div>
											<div class="column">
												<p><b> $55.00 </b></p>
											</div>
										</div>
											<p class="control">
											 <button class="button is-primary" ui-sref="orderConfirmation">Pay and place order</button>
											 <button class="button is-link" ui-sref="cartSummary">Cancel</button>
										 </p>
										 <br>
										 <a ui-sref="underConstruction" style="float:right"><span class="help"> >Shipping and Returns Policies</span></a>
															<div>
																<img src="images/SecurePayment.png" alt="Secured payment" class="image">
															</div>
									 </div>
									</div>
								</div>
							</div>
						</div>
