<button class="button is-primary">Hello, I'm a primary button! </button>
<button class="button is-info" ui-sref = "productDetail">Hi! Info here</button>
<button class="button is-success">I'm so successful!</button>
<button class="button is-warning">Heads up! Warning!</button>
<button class="button is-danger">DANGER! THIS BUTTON WILL DESTROY THE UNIVERSE!</button>
<br>
<br>
<br>
<article class="message is-primary">
  <div class="message-header">
    50% Off for ALL Vitamins!
  </div>
  <div class="message-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Pellentesque risus mi, tempus quis placerat ut, porta nec
    nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
    gravida purus diam, et dictum felis venenatis efficitur.
    Aenean ac eleifend lacus, in mollis lectus. Donec sodales,
    arcu et sollicitudin porttitor, tortor urna tempor ligula,
    id porttitor mi magna a neque. Donec dui urna, vehicula et
    sem eget, facilisis sodales sem.
  </div>
</article>
<article class="message">
  <div class="message-header">
    Important notice before you take any medicine!
  </div>
  <div class="message-body">
    READ THE DAMN MANUAL!
  </div>
</article>
