<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" ui-sref="home">
      <img src="./images/logo.png" alt="UPMC Logo">
      <span class="title is-2 is-primary">Online Pharmacy</span>
    </a>
  </div>

  <div class="nav-center">
    <div class="nav-item st-nav-search-bar">
      <div class="control has-addons has-icon">
        <input class="input is-medium" type="text" placeholder="Find a product">
        <i class="fa fa-search"></i>
        <a class="button is-medium is-primary">
          Search
        </a>
      </div>
    </div>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" ui-sref="faq">
      FAQ
    </a>
    <a class="nav-item" ui-sref="underConstruction">
      Customer Service
    </a>
    <a class="nav-item" ui-sref="underConstruction">
      Contact Us
    </a>

    <span class="nav-item">
      <a class="button" ui-sref="underConstruction">
        <span>Register</span>
      </a>
      <a class="button is-primary" href="#">
        <span class="icon">
          <i class="fa fa-user"></i>
        </span>
        <span>Login</span>
      </a>
    </span>
  </div>
</nav>
