<h1 class="title">Produciton Detailes</h1>
<p class="subtitle">Detailed infomation of medicine is provided blow.</p>



  <div class="columns">
  <div class="column">    
  <img src="./images/Vitamin B6.jpg" alt = "Vitamin B6" >
  </div>
  <div class="column" >
    <h1> <STRONG> <font size="6">$10.25</font> </STRONG> </h1>
    
    <span class = "icon">
    
    <i class="fa fa-star" aria-hidden="true"> </i>
 

    </span>
    
    <p> <font size = "4">Reviews(22)</font></p>
    <br>
    <br>
       <a class="button is-primary">
         <span>+ Add to Cart</span>
           <span class="icon">
             <i class="fa fa-shopping-cart"></i>
           </span>
         </a>
       </div>      
</div>

<div class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Details</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Reviews</span>   
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-list"></i></span>
        <span>Ingredients</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-user-md"></i></span>
        <span>Directions</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
        <span>Safety</span>
      </a>
    </li>
  </ul>
</div>
<div class = "message-body">
<div class = "content">
<p>
Along with other B vitamins, vitamin B6, also called pyridoxine, supports cellular energy production. Vitamin B6 is also essential in the formation of red blood cells, which play a key role in transporting oxygen throughout the body. A vitamin B6 supplement may help you meet your daily B6 needs.</p>

<ul>
<li>Helps convert food into cellular energy</li>
<li>Essential for red blood cell formation</li>
</ul>

Nature Made vitamin B6 100mg is guaranteed to meet our high quality standards - it is made from carefully selected ingredients under strict manufacturing processes.
<ul>
<li>Nature Made is the #1 pharmacist recommended letter vitamin brand (1)</li>
<li>United States Pharmacopeia (USP) verified</li>
<li>No artificial flavors</li>
<li>No color added</li>
<li>No preservatives</li>
<li>No yeast or starch</li>
<li>Gluten-free</li> 
</ul>
</div>
</div>
<br>



<div class="tabs is-centered is-boxed">
  <ul>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Details</span>
      </a>
    </li>
    <li class = "is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Reviews</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-list"></i></span>
        <span>Ingredients</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-user-md"></i></span>
        <span>Directions</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
        <span>Safety</span>
      </a>
    </li>
  </ul>
</div>
<div class = "message-body"> 
<nav class="pagination">
  <a class="button">Previous</a>
  <a class="button">Next page</a>
  <ul>
    <li>
      <a class="button">1</a>
    </li>
    <li>
      <span>...</span>
    </li>
    <li>
      <a class="button">4</a>
    </li>
    <li>
      <a class="button is-primary">5</a>
    </li>
    <li>
      <a class="button">6</a>
    </li>
    <li>
      <span>...</span>
    </li>
    <li>
      <a class="button">10</a>
    </li>
  </ul>
</nav>
</div>
<br>



<div class="tabs is-centered is-boxed">
  <ul>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Details</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Reviews</span>
      </a>
    </li>
    <li class = "is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-list"></i></span>
        <span>Ingredients</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-user-md"></i></span>
        <span>Directions</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
        <span>Safety</span>
      </a>
    </li>
  </ul>
</div>
<div class = "message-body"> 

<h1> <STRONG><font size= "5">Supplement Facts(per tablet)</font></STRONG></h1>

<table class="table">
  <thead>
    <tr>
      <th>Nutrient</th>
      <th>Amount per Serving</th>
      <th>%Daily Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vitamin B6 (as Pyridoxine Hydrochloride)</td>
      <td>100 mg</td>
      <td > 5000% </td>
    </tr>
    <tr>
      <td>Calcium (as Calcium Carbonate)</td>
      <td>30mg</td>
      <td>3% </td>
    </tr>
  </tbody>
</table>
<p>Other Ingredients: Cellulose Gel, Croscarmellose Sodium, Hypromellose, Maltodextrin, Magnesium Stearate.</p>
<br>


<h2><STRONG><font size= "5">Nutritional Facts(per tablet)</font></STRONG></h2>
<table class="table">
  <thead>
    <tr>
      <th>Nutrient</th>
      <th>Amount per Serving</th>
      <th>%Daily Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vitamin B6 (as Pyridoxine Hydrochloride)</td>
      <td>100 mg</td>
      <td > 5000% </td>
    </tr>
  </tbody>
</table>


</div>
<br>


<div class="tabs is-centered is-boxed">
  <ul>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Details</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Reviews</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-list"></i></span>
        <span>Ingredients</span>
      </a>
    </li>
    <li class = "is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-user-md"></i></span>
        <span>Directions</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
        <span>Safety</span>
      </a>
    </li>
  </ul>
</div>
<div class = "message-body"> 
Take one tablet daily, with a meal. For easier swallowing, take with water before and during ingestion.

</div>
<br>


<div class="tabs is-centered is-boxed">
  <ul>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Details</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Reviews</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-list"></i></span>
        <span>Ingredients</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-user-md"></i></span>
        <span>Directions</span>
      </a>
    </li>
    <li class = "is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
        <span>Safety</span>
      </a>
    </li>
  </ul>
</div>
<div class = "message-body"> 
<div class = "columns">
<div class = "column'">
	<img class ="image1" src="./images/1.png" alt = "Vitamin B6"></div>
	<div class = "column'">
	<img class = "image1" src="./images/2.png" alt="Vitamin B6"></div>

	<!--<img src="./images/2.png" alt = "Vitamin B6"> -->
	<!--<img src="./images/3.png" alt = "Vitamin B6"> -->
</div>
</div>
<br>


<div class="tabs is-centered is-boxed">
  <ul>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Details</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-comment"></i></span>
        <span>Reviews</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-list"></i></span>
        <span>Ingredients</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-user-md"></i></span>
        <span>Directions</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Images</span>
      </a>
    </li>
    <li class = "is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
        <span>Safety</span>
      </a>
    </li>
  </ul>
</div>
<div class = "message-body">
Vitamin B6 should be avoided when taking: Consult a physician before use if you are taking any prescription medications, including anticonvulsants. Vitamin B6 should be used with caution when combined with: Anticonvulsant medications (i.e. phenobarbital, phenytoin). Given that no two people are alike, if you are taking any medications you should be aware that potential drug-nutrient interactions may occur and are encouraged to consult a health care professional before using this product. Combining certain prescription drugs and dietary supplements can lead to undesirable effects such as: Diminished drug effectiveness, reduced supplement effectiveness, impaired drug and/or supplement absorption.
 </div>
<br>


<p class="is-1">Please <a href="javascript:history.go(-1);">return to the previous page</a> and try other links.</p>
