<div class="tile is-ancestor">
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/VitaminB6.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$10.25</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">Nature Made Vitamin B6 Tablets</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-half-o"></i></span>
      </p>
    </div>
  </div>
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/VitaminE.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$17.99</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">Nature Made Vitamin E Tablets</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/AmericanHealthVitamin.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$24.99</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">American Health More Than A Multiple Multivatimin Formula Tablets, 90CT</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/22DaysProteinBar.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$35.79</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">22 Days Organic Chocolate Chip Nutrition Protein Bars 2.6 OZ, 12CT</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/AvantEdgeShake.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$7.99</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">EAS AdvantEdge Carb Control Ready to Drink Shakes 11 OZ, 4CT</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/5Hour.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$8.99</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">5-Hour Energy</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/Centrum.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$9.99</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">Centrum Silver Multivitamin Personalized for Men 50+</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/vitafusion.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$13.49</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">Vitafusion Platinum Multivitamin Gummy Vitamins 50+</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
  <div class="tile is-4 is-parent is-vertical">
    <div class="tile is-child">
      <div class="columns">
        <div class="column is-5">
          <a class="image is-128x128">
            <img src="images/purepotein.jpg">
          </a>
        </div>
        <div class="column is-7">
          <p class="pdtl-productPrice">$12.99</p>
          <br>
          <a class="button is-small is-info">
            <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="tile is-9 is-child">
      <a class="pdtl-productName">Pure Protein Shake 11 OZ, 4CT</a>
      <p class="pdtl-productReview">
        review:
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star"></i></span>
        <span class="icon"><i class="fa fa-star-o"></i></span>
      </p>
    </div>
  </div>
</div>
