<span class="title is-primary">Search Results for "Vitamins"</span>
<br>
<br>
<br>
<div class="columns">
  <div class="column is-2">
    <nav class="panel">
      <p class="panel-heading">
        Categories
      </p>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Multivitamins (12)
        </label>
      </a>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Vitamin A-Z & Minerals (11)
        </label>
      </a>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Gummies (8)
        </label>
      </a>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Specialty Vitamins (3)
        </label>
      </a>
      <div class="panel-block">
        <button class="button is-primary is-outlined is-fullwidth" ui-sref="underConstruction">
          Apply filters
        </button>
      </div>
    </nav>
    <nav class="panel">
      <p class="panel-heading">
        Brand
      </p>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Ensure (13)
        </label>
      </a>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Naturade (10)
        </label>
      </a>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Vega (8)
        </label>
      </a>
      <a class="panel-block is-active" href="#">
        <label class="checkbox">
          <input type="checkbox">
          Radiance (3)
        </label>
      </a>
      <div class="panel-block">
        <button class="button is-primary is-outlined is-fullwidth" ui-sref="underConstruction">
          Apply filters
        </button>
      </div>
    </nav>
  </div>
  <div class="column is-10">
    <div class="notification is-primary">
      <button class="delete"></button>
      <span class="title is-1"><strong>30% OFF </strong></span>
      <a class="title is-2" ui-sref="underConstruction">Selected Brand.</a>
    </div>
    <br>
    <br>
    <div ng-init="itemCount=34;" ng-include="'partials/product-header.html'"></div>
    <div ng-include="'partials/product-list.html'" style="margin-top: 20px;"></div>
    <nav class="pagination" style="margin-top: 20px;">
      <a class="button is-disabled">Previous</a>
      <a class="button" ui-sref="underConstruction">Next page</a>
      <ul>
        <li>
          <a class="button is-info" ui-sref="underConstruction">1</a>
        </li>
        <li>
          <a class="button" ui-sref="underConstruction">2</a>
        </li>
        <li>
          <a class="button" ui-sref="underConstruction">3</a>
        </li>
        <li>
          <a class="button" ui-sref="underConstruction">4</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
